.songRow {
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding: 8px;
  z-index: 100;
  color: white;
}
.songRow__album {
  height: 60px;
  width: 60px;
}
.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}
.songRow__info {
  margin-left: 20px;
}

.songRow:hover {
  cursor: pointer;
  background-color: #5b5b5b;
  opacity: 0.8;
}
.songRow:hover .songRow__info > p {
  color: white;
}
